/*? Elements */

/** Sky */
div[data-element="sky"] {
  background-color: #87ceeb;
}

/** Grass */
div[data-element="grass"] {
  background: url('../images/Grass.png') center center/cover;
}

/** Dirt */
div[data-element="dirt"] {
  background: url('../images/Dirt.PNG') center center/cover;
}

/** Tree */
div[data-element="tree"] {
  background: url('../images/tree.png') center center/cover;
}

/** Leaf */
div[data-element="leaf"] {
  background: url('../images/leaf.jpg') center center/cover;
}

/** Stone */
div[data-element="stone"] {
  background: url('../images/stone.png') center center/cover;
}
/** cloud */
div[data-element="cloud"] {
  background-color: #fff;
}

