@media(max-width: 1315px) {
  .SideBar {
    flex-direction: row;
    width: 100vw;
    height: 25vh;
    justify-content: space-around;
  }
  .tools {
    flex-direction: row;
    gap: 10px;
  }
  .game-board {
    height: 75vh;
  }
  .storageBoxes {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
  }
}
