@font-face {
  font-family: 'BlockKie Personal Use';
  font-style: normal;
  font-weight: 400;
  src: local('BlockKie Personal Use'), url('https://fonts.cdnfonts.com/s/80940/blockkiepersonaluse.woff') format('woff');
}

.SideBar {
  width: 30vmin;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* background: url('../images/background-tools.jpg') center center/cover; */

}

.tools {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 5px;
}
.boxTool {
  width: 12vmin;
  height: 12vmin;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: rgba(255, 255, 255, 0.96) 0px 1px 10px, rgb(51, 51, 51) 0px 0px 2px 7px;
  transition: 0.5s;
}

.tools h2 {
  display: flex;
  justify-content: center;
  height: 0px;
  align-items: flex-end;
  margin: 0;
  font-family: 'BlockKie Personal Use', sans-serif;                                         
  font-size: 1.3rem;
}

.storageBoxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10%;

}
.storage {
  width: 10vmin;
  height: 10vmin;
  box-shadow: rgba(255, 255, 255, 0.96) 0px 1px 10px;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
}

.storage:hover {
  border: 2px solid blue;
  box-shadow: rgba(5, 5, 231, 0.96) 0px 1px 10px;
}

.storageBoxes h2 {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-around;
  height: 5px;
}



/** PickAxe  */
#pickAxe {
  background: url('../images/pickaxe.png') center center/cover;
}

/** Shovel  */
#shovel {
  background: url('../images/shovel.png') center center/cover;
}

/** Axe */
#axe {
  background: url('../images/axe.png') center center/cover;
}
#pickAxe,
#shovel,
#axe {
  background-color: #555555;
}

#pickAxe:hover,
#shovel:hover,
#axe:hover {
  background-color: blue;
}