body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}

.game-board {
  width: 120vmin;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(21, 1fr);
  grid-template-rows: repeat(20, 1fr);
}

