
*{
  font-family: 'VAG Primer', sans-serif;
                                                
                                                
}
body {
  margin: 0;
  padding: 0;
}

.startGame {
  width: 100vw;
  height: 100vh;
  background: url('../images/background.jpg') center center/cover;
}

@keyframes myAnim {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(0);
	}
}
.containerStartGame {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 80%;
  height: 500px;
  
}
.logo img{
  width: 100%;
}

.btnStartScreen {
  width: 250px;
  height: 80px;
  border-radius: 15px;
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
  border: 5px solid black;
  margin-bottom: 10px;
  transition: 0.5s;
  background-color: #f4f4f4;
}

.btnStartScreen:hover {
  background-color: black;
  color: #fff;
}

.boxHowToPlay {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 200px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}

.boxHowToPlay-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  /* border: 1px solid #888;
  border: 5px solid black; */
  box-shadow: rgb(0, 0, 0) 0px 0px 1px 8px;
  width: 60%;
  text-align: center;
  border-radius: 10px;
}
.boxHowToPlay-content p{
  font-size: 1.5rem;
  font-weight: 500;

}

/* The Close Button */
.closeBoxHowToPlay {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  display: none;
  background: url('../images/backgroundGame.jpg') center center/cover;
  width: 100vw;
  height: 100vh;
}

.game-board {
  width: 120vmin;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(21, 1fr);
  grid-template-rows: repeat(20, 1fr);
  cursor: pointer;
}

.box-item:hover {
  border: .25vmin solid #fff;

}

.nightOrDay {
  width: 10px;
  height: 10px;
}